<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- SEMANTIC UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js">
    <!-- CHART JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}{% endblock %}

</head>
<body>
    <div class="row">
        {% include 'main/header.html' %}
            <div class="row">
                    <div class="col-2">
                        {% include 'main/sidebar.html' %}
                    </div>
                    <div class="col-10">
                        <div class="alert alert-warning text-center" style="display: block; width: 300px; justify-content: center; margin-left: auto; margin-right: auto;">
                            <img src="{% static 'main\images\wrench.png' %}" alt="logo" style="width: 25px; height: auto; display: flex; float: left;">
                            Сайт находится в разработке
                        </div>
                    
                        {% block content %}
                            {% block scripts %}
                            {% endblock %} 
                        {% endblock %}
                    </div>
                    
            </div>      
        </div>
        
        <!-- POPPER-->
    <div class="footer">    
        <div class="h-auto col-12"  >
            {% include 'main/footer.html' %}   
        </div>  
    </div>
</body>
</html>