<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}{% endblock %}

</head>
<body>
    <div class="row">
        {% include 'main/header.html' %}
            <div class="row">
                    <div class="col-2">
                        {% include 'main/sidebar.html' %}
                    </div>
                    <div class="col-10">
                        <div class="p-1 text-black text-center rounded display block float left height 50%" style="display: block; width: 300px; justify-content: center; margin-left: auto; margin-right: auto; background-color: rgb(253, 253, 105);" >
                            <img src="{% static 'main\images\wrench.png' %}" alt="logo" style="width: 25px; height: auto; display: flex; float: left;">
                            <h6>Сайт находится в разработке</h6>
                        </div>
                    
                        {% block content %}
                                
                        {% endblock %}
                    </div>

            </div>      
        </div>
        <div class="row" style="background-color: #E0E1DD;">
            {% include 'main/footer.html' %}   
        </div>
        <!-- POPPER-->
        

</body>
</html>