{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row">
  <div class="text-center" style="margin-top:30px;">


        <div class="row">
            <div class="text-center" style="margin-top:30px;">
                    <h2>Подробнее об устройстве {{ id }}</h2>
            </div>
            </div>
        </div>
        <p>Тип устройства: <strong>{{ device.type }}</strong></p>
        <p>Модель устройства: <strong>{{ device.model }}</strong></p>
        <p>Имя хоста: <strong>{{ device.name }}</strong></p>
        <p>Серийный номер устройства устройства: <strong>{{ device.serial }}</strong></p>
        <p>Статус устройства: <strong>{{ device.status }}</strong></p>
        <p>Адрес площадки расположения: <strong>{{ device.address }}</strong></p>
        <p>Тип площадки: <strong>{{ device.sitetype }}</strong></p>
        <p>Management ip-адрес  устройства: <strong><a href="{{ device.ip }}">{{ device.ip }}</strong></p>
      </div>
{% endblock %}
