<!-- footer.html -->
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}



<footer class="d-flex flex-wrap justify-content-between align-items-center my-4 border-top">
    <div class="col-md-4 d-flex align-items-center" >
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Architect Solutions Inc.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li>
            <a href="https://www.youtube.com/">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/lambord9/">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
    </ul>
    <script> tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <!-- jQuerty для быстрого поиска на странице с устройствами -->
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable2 tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById('myTable');
          switching = true;
          //Задать направление сортировки по возрастанию:
          dir = "asc"; 
          /*Сделайте петлю, которая будет продолжаться до тех пор, пока
          никакого переключения не было сделано:*/
          while (switching) {
            //начните с того, что скажите: никакого переключения не происходит:
            switching = false;
            rows = table.rows;
            /*Цикл через все строки таблицы (за исключением
            во-первых, который содержит заголовки таблиц):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //начните с того, что не должно быть никакого переключения:
              shouldSwitch = false;
              /*Получите два элемента, которые вы хотите сравнить,
              один из текущей строки и один из следующей:*/
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /*проверьте, должны ли две строки поменяться местами,
              в зависимости от направления, asc или desc:*/
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  //если это так, отметьте как переключатель и разорвите петлю:
                  shouldSwitch= true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  //если это так, отметьте как переключатель и разорвите петлю:
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              /*Если переключатель был отмечен, сделайте переключатель
              и отметьте, что переключение было сделано:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              //Каждый раз, когда выполняется переключение, увеличьте это число на 1:
              switchcount ++;      
            } else {
              /*Если переключение не было сделано и направление "asc",
              установите направление на "desc"и снова запустите цикл while.*/
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
    </script>
    <!-- Коллапс на странице устройства-->
    <script>
        var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
        var collapseList = collapseElementList.map(function (collapseEl) {
          return new bootstrap.Collapse(collapseEl)
        })
    </script>
  </footer>

