{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Портал КИИ - Выход {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-header">
            <h2 class="card-title text-center">Вы вышли из аккаунта</h2>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

