{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Портал КИИ - Панель управления {% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-header">
            <h4 class="card-title text-center">Панель управления</h4>
        </div>
        <div class="card-body"></div>
        <div class="col-md-3">
          <canvas id="Domains"></canvas>
        </div>          
      </div>
    </div>
  </div>
</div>
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Распределение площадок по доменам КИИ -->
<script>
  const ctx = document.getElementById('Domains');
  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{% for item in qs %}'{{ item }}',{% endfor %}],
      datasets: [{
        label: 'Количество площадок',
        data: [{% for item in qs %}'{{ item.device__count }}',{% endfor %}],
        borderWidth: 3
      }]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Распределение площадок по доменам КИИ',
          padding: {
            top: 10,
            bottom: 30
          }
        }
      }
    }
  });
</script>
<!-- Тут другой график -->
{% endblock %}
{% endblock %}
